body {
  font: 60px "Century Gothic", Futura, sans-serif;
  color: white;
  margin: 30px;
}

#root {
  width: 820px;
  margin: 0 auto;
  background-color: black;
}

ol, ul {
  padding-left: 30px;
}

#board-row {
  margin-top: 30px;
  margin-bottoM: 60px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin: 0 auto;
}
